.DS_Store
/magento.py
/magento.rb
/vendor/
/node_modules
/var

#unit testing
/app/code/community/EcomDev/
/lib/EcomDev
/lib/Spyc
/lib/vfsStream
/shell/ecomdev-phpunit.php
/app/etc/modules/EcomDev_PHPUnit.xml
/app/etc/modules/EcomDev_PHPUnitTest.xml

#base
app/code/community/Mygento/Base
app/etc/modules/Mygento_Base.xml
app/locale/ru_RU/Mygento_Base.csv
skin/adminhtml/default/default/images/mygento/base/logo.png


#bower
/bower_components/jquery/*
!/bower_components/jquery/dist
/bower_components/jquery/dist/*
!/bower_components/jquery/dist/jquery.min.js

/bower_components/jquery-legacy/*
!/bower_components/jquery-legacy/dist
/bower_components/jquery-legacy/dist/*
!/bower_components/jquery-legacy/dist/jquery.min.js

/bower_components/jquery-ui/*
!/bower_components/jquery-ui/jquery-ui.min.js
!/bower_components/jquery-ui/themes
/bower_components/jquery-ui/themes/*
!/bower_components/jquery-ui/themes/base
/bower_components/jquery-ui/themes/base/*
!/bower_components/jquery-ui/themes/base/jquery-ui.min.css
!/bower_components/jquery-ui/themes/base/images

/bower_components/jquery-migrate/*
!/bower_components/jquery-migrate/index.js

/bower_components/jquery.easing/*
!/bower_components/jquery.easing/js
/bower_components/jquery.easing/js/*
!/bower_components/jquery.easing/js/jquery.easing.min.js

/bower_components/jquery.maskedinput/*
!/bower_components/jquery.maskedinput/dist
/bower_components/jquery.maskedinput/dist/*
!/bower_components/jquery.maskedinput/dist/jquery.maskedinput.min.js

/bower_components/jcarousel/*
!/bower_components/jcarousel/dist
/bower_components/jcarousel/dist/*
!/bower_components/jcarousel/dist/jquery.jcarousel.min.js

/bower_components/modernizr/*
!/bower_components/modernizr/modernizr.js

/bower_components/fancybox/*
!/bower_components/fancybox/source/
/bower_components/fancybox/source/jquery.fancybox.js


/bower_components/chosen/.bower.json
/bower_components/chosen/bower.json