.DS_Store
/magento.py
/magento.rb
/vendor/
/node_modules
/var

#unit testing
/app/code/community/EcomDev/
/lib/EcomDev
/lib/Spyc
/lib/vfsStream
/shell/ecomdev-phpunit.php
/app/etc/modules/EcomDev_PHPUnit.xml
/app/etc/modules/EcomDev_PHPUnitTest.xml

#base
app/code/community/Mygento/Base
app/etc/modules/Mygento_Base.xml
app/locale/ru_RU/Mygento_Base.csv
skin/adminhtml/default/default/images/mygento/base/logo.png


#bower
/bower_components/jquery/*
!/bower_components/jquery/dist
/bower_components/jquery/dist/*
!/bower_components/jquery/dist/jquery.min.js

/bower_components/jquery-legacy/*
!/bower_components/jquery-legacy/dist
/bower_components/jquery-legacy/dist/*
!/bower_components/jquery-legacy/dist/jquery.min.js

/bower_components/jquery-ui/*
!/bower_components/jquery-ui/jquery-ui.min.js
!/bower_components/jquery-ui/themes
/bower_components/jquery-ui/themes/*
!/bower_components/jquery-ui/themes/base
/bower_components/jquery-ui/themes/base/*
!/bower_components/jquery-ui/themes/base/jquery-ui.min.css
!/bower_components/jquery-ui/themes/base/images

/bower_components/jquery-migrate/*
!/bower_components/jquery-migrate/index.js

/bower_components/jquery.easing/*
!/bower_components/jquery.easing/js
/bower_components/jquery.easing/js/*
!/bower_components/jquery.easing/js/jquery.easing.min.js

/bower_components/jquery.maskedinput/*
!/bower_components/jquery.maskedinput/dist
/bower_components/jquery.maskedinput/dist/*
!/bower_components/jquery.maskedinput/dist/jquery.maskedinput.min.js

/bower_components/jcarousel/*
!/bower_components/jcarousel/dist
/bower_components/jcarousel/dist/*
!/bower_components/jcarousel/dist/jquery.jcarousel.min.js

/bower_components/modernizr/*
!/bower_components/modernizr/modernizr.js

/bower_components/fancybox/*
!/bower_components/fancybox/source/
/bower_components/fancybox/source/jquery.fancybox.js


/bower_components/chosen/.bower.json
/bower_components/chosen/bower.json

/bower_components/sweetalert/*
!/bower_components/sweetalert/dist
/bower_components/sweetalert/dist/*
!/bower_components/sweetalert/dist/sweetalert.min.js
!/bower_components/sweetalert/dist/sweetalert.css

/bower_components/jquery-validation/*
!/bower_components/jquery-validation/dist
/bower_components/jquery-validation/dist/*
!/bower_components/jquery-validation/dist/jquery.validate.min.js

/bower_components/jScrollPane/*
!/bower_components/jScrollPane/script
/bower_components/jScrollPane/script/*
!/bower_components/jScrollPane/script/jquery.jscrollpane.min.js

/bower_components/jquery-mousewheel/*
!/bower_components/jquery-mousewheel/jquery.mousewheel.min.js

/bower_components/owl.carousel/*
!/bower_components/owl.carousel/dist
/bower_components/owl.carousel/dist/*
!/bower_components/owl.carousel/dist/owl.carousel.min.js
!/bower_components/owl.carousel/dist/assets
/bower_components/owl.carousel/dist/assets/*
!/bower_components/owl.carousel/dist/assets/owl.carousel.min.css

/bower_components/ddslick/*
!/bower_components/ddslick/jquery.ddslick.min.js

/bower_components/jquery.hovercard/*
!/bower_components/jquery.hovercard/jquery.hovercard.min.js

/bower_components/jquery-backstretch/*
!/bower_components/jquery-backstretch/jquery.backstretch.min.js

/bower_components/slick-carousel/*
!/bower_components/slick-carousel/slick
/bower_components/slick-carousel/slick/*
!/bower_components/slick-carousel/slick/slick.min.js
!/bower_components/slick-carousel/slick/slick-theme.css
!/bower_components/slick-carousel/slick/slick.css
!/bower_components/slick-carousel/slick/ajax-loader.gif
!/bower_components/slick-carousel/slick/fonts/

/bower_components/skitter-slideshow/*
!/bower_components/skitter-slideshow/js
!/bower_components/skitter-slideshow/images
!/bower_components/skitter-slideshow/css
/bower_components/skitter-slideshow/js/jquery.skitter.js
/bower_components/skitter-slideshow/css/skitter.styles.css

/bower_components/galleria/*
!/bower_components/galleria/src


/bower_components/PACE/*
!/bower_components/PACE/pace.min.js
!/bower_components/PACE/themes
