.DS_Store
/magento.py
/magento.rb
/vendor/
/node_modules
/var

#unit testing
/app/code/community/EcomDev/
/lib/EcomDev
/lib/Spyc
/lib/vfsStream
/shell/ecomdev-phpunit.php
/app/etc/modules/EcomDev_PHPUnit.xml
/app/etc/modules/EcomDev_PHPUnitTest.xml

#base
app/code/community/Mygento/Base
app/etc/modules/Mygento_Base.xml
app/locale/ru_RU/Mygento_Base.csv
skin/adminhtml/default/default/images/mygento/base/logo.png


#bower
/bower_components/jquery/*
!/bower_components/jquery/dist/jquery.min.js
/bower_components/jquery-legacy
!/bower_components/jquery-legacy/dist/jquery.min.js
/bower_components/jquery-ui
!/bower_components/jquery-ui/jquery-ui.min.js
!/bower_components/jquery-ui/themes/base/jquery-ui.min.css
!/bower_components/jquery-ui/themes/base/images