<?xml version="1.0"?>
<!--
/**
 * @category   Mygento
 * @package    Mygento_JQueryLib
 * @copyright  Copyright © 2015 NKS LLC. (http://www.mygento.ru)
 */
-->
<config>
    <modules>
        <Mygento_JQueryLib>
            <version>1.12.0</version>
        </Mygento_JQueryLib>
    </modules>
    <default>
        <jquerylib>
            <general>
                <enabled>1</enabled>
                <migrate>1</migrate>
                <legacy>0</legacy>
            </general>
            <plugins>
                <easing>0</easing>
                <carousel>0</carousel>
                <galleria>0</galleria>
                <fancy>0</fancy>
                <ui>0</ui>
                <skitter>0</skitter>
                <chosen>0</chosen>
                <hovercard>0</hovercard>
                <masked>0</masked>
                <ddslick>0</ddslick>
                <modernizr>0</modernizr>
                <sweetalert>0</sweetalert>
                <maskedinput>0</maskedinput>
                <jscrollpane>0</jscrollpane>
                <mousewheel>0</mousewheel>
                <owl>0</owl>
                <slick>0</slick>
            </plugins>
        </jquerylib>
    </default>
    <global>
        <helpers>
            <jquerylib>
                <class>Mygento_JQueryLib_Helper</class>
            </jquerylib>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <jquerylib>
                                            <title>JQuery Library</title>
                                        </jquerylib>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <jquerylib>
                    <files>
                        <default>Mygento_JQueryLib.csv</default>
                    </files>
                </jquerylib>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <jquerylib>
                    <file>mygento/jquerylib.xml</file>
                </jquerylib>
            </updates>
        </layout>
        <translate>
            <modules>
                <jquerylib>
                    <files>
                        <default>Mygento_JQueryLib.csv</default>
                    </files>
                </jquerylib>
            </modules>
        </translate>
    </frontend>
</config>
